.table {
    th {
        vertical-align: middle;
    }

    td {
        vertical-align: middle;
    }
}

.button {
    background-color: #1da1f2;
    color: white;
    padding: 8px 20px;
    border: none;
    width: 15%;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}
